@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Pacifico|Amatic+SC|Barrio|Concert+One|Source+Sans+Pro|Sacramento');
html, body {
  width: 100%;
  height: 100%;
}
body {
  text-align: center;
}
canvas {
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing{
  top:-20px;
  background: url("images/knockout/fourth.png") center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  height:100vh;
  width:100vw;
}

.hero__title {
   -webkit-text-stroke: 5px black;
  z-index: 3;
  width: 100vw;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.7;
  font-weight: 300;
  color: #000;
  background: #fff;
  mix-blend-mode:     lighten;
  font:               bolder 7vw 'Source Sans Pro', sans-serif;
}
span{
    display: block;
}
.details{
  position:relative;
  justify-content: center;
  text-align: center;
  display: flex;
  z-index: 1;
  
}
.details h1{
  font-family: 'Pacifico', cursive;
  color: gold;
}
.details h2{
  font-family: 'Amatic SC',serif;
  color: white;
}
.flex-child{
  flex: 1;
}
#time{
  display: inline-block;
  height: 50px;
}
#where{
  display: inline-block;
  height: 50px;
}
#park{
  display: inline-block;
  height: 50px;
}
