@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Abril+Fatface|Pacifico|Amatic+SC|Barrio|Montaga|Source+Sans+Pro|Sacramento|Molle:400i|Tangerine');
html, body {
  width: 100%;
  height: 100%;
}
#nav{

}
body {
  scroll-behavior: [ auto | smooth ];
}

.page{

  background: url();
  text-align: left;
  height:100vh;
  width:100vw;
}
.hero__title{
    -webkit-text-stroke: 5px;
    -moz-text-stroke: 5px;
    background: url("images/knockout/donate.jpg") center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.5px;
    margin:                         auto;
    width: 100vw;
    height: 75vh;
    font-weight: 300;
    text-shadow:        0 0 9px;
    -webkit-background-clip:        text;
    -moz-background-clip:           text;
    color:                          transparent;
    font:               bolder 8.5em 'Source Sans Pro', sans-serif;

}
span{
    display: block;
}
.details{

  height:25vh;
  background-image:url("images/detailsbg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  justify-content: center;
  text-align: center;
  display: flex;
  z-index: 1;

}
.details h1{
  font-family: 'Pacifico', cursive;
  color: gold;
}
.details h2{
  font-family: 'Amatic SC',serif;
  color: white;
}
.flex-child{
  flex: 1;
}
#time{
  display: inline-block;
  height: 50px;
}
#where{
  display: inline-block;
  height: 50px;
}
#park{
  display: inline-block;
  height: 50px;
}
/* .about{
  overflow: hidden;
  height:100vh;
  text-align: center;
  display:grid;
  grid-template-columns: 40% 60%;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.004em;
  font-family: 'Amatic SC', serif;
} */
.about{
  width: 100vw;
  height:100vh;
}
.about h1{
  -webkit-text-stroke: 5px;
  -moz-text-stroke: 5px;
  color:white;
  background: url("images/knockout/knockout.jpg") center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.5px;
  margin:                         auto;
  width: 100vw;
  height: 21vh;
  font-weight: 300;

  -webkit-background-clip:        text;
  -moz-background-clip:           text;
  color:                          transparent;
  text-shadow:        0 0 9px;
  font:               bolder 8.5em 'Source Sans Pro', sans-serif;

}
#aboutText{
  height:40vh;
  width: 100vw;
  font-family: 'Josefin Sans', sans-serif;
  padding: 30px;
  font-size: 1.3em;
  background-color: white;
}
#gallery{
  background: url("images/bgabout.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:50vh;
  padding: 30px;
}
#gallery h3{
  -webkit-text-stroke: 2px;
  font-family: 'Amatic SC', serif;
  background-color: white;
  border-radius: 25px;
  word-break: break-all;
  word-wrap: break-word;
  width: 350px;
}
#aboutHeader{
  font-family: 'Montaga', serif;
  font-style: bolder;
}
.artists{
  height: 100vh;
  width: 100vw;
}
.reed h1{
  grid-column: 0;
  grid-row: 0;
}
.reed img{
  grid-column: 1;
  grid-row: 0;
  width:40px;
  height:40px;
}
.donate{
  height: 100vh;
  width: 100vw;
}
.artists h1{
  -webkit-text-stroke: 5px;
  -moz-text-stroke: 5px;
  overflow: hidden;
  z-index: 3;
  background: url("images/knockout/knockout.jpg") center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip:                text;
  -webkit-background-clip:        text;
  -moz-background-clip:           text;
  color:                          transparent;
  width: 100vw;
  height: 25vh;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.7;
  font-weight: 300;
  font:               bolder 8.5em 'Source Sans Pro', sans-serif;
}
.work img{
  height:75vh;
  width: 50vw;
}
.work h1{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  width: 50vw;
  font-size: 3em;
  margin: auto;
  text-align: center;
}
.work{
  display: flex;
  transition: transform .2s;
}
.work:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
#maricama{
  background: url("images/knockout/knockout2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#reed{
  background: url("images/reedart.jpg");
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
#imani{
  background: url("images/knockout/fifth.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ceepil{
  background: url("images/knockout/third.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


#donate h1{
  -webkit-text-stroke: 5px;
  -moz-text-stroke: 5px;
  overflow: hidden;
  z-index: 3;
  background: url("images/knockout/donate.jpg") center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip:                text;
  -webkit-background-clip:        text;
  -moz-background-clip:           text;
  color:                          transparent;
  width: 100vw;
  height: 21vh;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.7;
  font-weight: 300;
  font:               bolder 8.5em 'Source Sans Pro', sans-serif;
}
#donateimg{
  background: url("images/don2.png") center;
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  height:50vh;
  width:100vw;
}
#donateText{
  top:-10px;
  height: 30vh;
  font-family: 'Josefin Sans', sans-serif;
  position:relative;
  justify-content: center;
  text-align: center;
  z-index: 1;
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 1em;
  background-color: white;
}

#getInvolved{
    background: url("images/about.jpg") center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#getInvolved h1{
  -webkit-text-stroke: 5px;
  -webkit-text-stroke: 5px;
  overflow: hidden;
  z-index: 3;
  background: url("images/knockout/knockout2.png") center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip:                text;
  -webkit-background-clip:        text;
  -moz-background-cli:            text;
  color:                          transparent;
  width: 100vw;
  height: 25vh;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.7;
  font-weight: 300;
  font:               bolder 8.5em 'Source Sans Pro', sans-serif;
}
#getText{
  top:-10px;
  height: 50vh;
  width: 100vw;
  font-family: 'Josefin Sans', sans-serif;
  position:relative;
  justify-content: center;
  text-align: left;
  z-index: 1;
  background-color: white;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 1.0em;
  opacity: 1.0;
}
#getImage{
  top:-10px;
  background-image: url("images/about.jpg");
  height:75vh;
  width:50vw;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
#map {
  height: 40vh;  /* The height is 400 pixels */

}
@media screen and (max-width: 1024px) {
  h1.hero__title{
    font-size: 8.4em;
  }
  h1.flex-child{
    font-size: 5.6em;
  }

}

@media screen and (max-width: 1024px) {
  h1.hero__title{
    font-size: 8.4em;
  }
  h1.flex-child{
    font-size: 4em;
  }

}

@media screen and (max-width: 950px) {
  h1.hero__title{
    font-size: 5.6em;
    padding-top: 55px;
  }
  h1.flex-child{
    font-size: 4em;
  }
}


@media screen and (max-width: 650px) {

  h1.hero__title{
    font-size: 4.5em;
    padding-top: 65px;
  }
  h1.flex-child{
    font-size: 4em;
  }
}

@media screen and (max-width: 480px) {
  h1.hero__title{
    padding-top: 100px;
    font-size: 3.5em;
  }
  .about h1{
    padding: 50px;
    font-size: 3.5em;
  }
  .details h1{
    font-size: 2.0em;
  }
  .details h2{
    font-size: 1em;
  }
  #aboutText{
    font-size: .7em;
  }
  #getInvolved h1{
    padding: 40px;
    font-size: 3.5em;
  }
  #getText p{
    font-size: .55em;
  }
  #donate h1{
    padding-top: 35px;
    font-size: 3.5em;
  }
  #donateText{
    font-size: .60em;
  }
  .button{
    font-size: 6px;
  }
  #artists h1{
    padding: 50px;
    font-size: 3.5em;
  }
  .work img{
    height: 25vh;
  }
  #maricama h1{
    padding-top: 75px;
    letter-spacing: 3px;
    font-size: 1.2em;
  }
  #reed h1{
    padding-top: 75px;
    letter-spacing: 3px;
    font-size: 1.2em;
  }
  #imani h1{
    padding-top: 75px;
    letter-spacing: 3px;
    font-size: 1.2em;
  }
  #ceepil h1{
    padding-top: 75px;
    letter-spacing: 3px;
    font-size: 1.2em;
  }
}
